#base {
    background-color: darkslateblue;
    border: solid white 5px;
    height: 500px;
    width: 500px;
    margin: 20px auto 10px auto;
    border-radius: 190px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.simon_btn {
    position: relative;
    border: solid dimgray 10px;
    height: 180px;
    width: 180px;
}

.simon_btn:hover {
    border-color: gray;
    cursor: pointer;
}

#yellow_btn {
    background-color: darkkhaki;
    border-radius: 190px 0 0 0;
}

#blue_btn {
    background-color: darkblue;
    border-radius: 0 190px 0 0;
}

#red_btn {
    background-color: darkred;
    border-radius: 0 0 0 190px;
}

#green_btn {
    background-color: darkseagreen;
    border-radius: 0 0 190px 0;
}


#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#btn_home,
#btn_restart {
    background-color: plum;
    color: white;
    font-size: 120%;
    font-weight: bolder;
    border-radius: 10px;
    border: solid white 4px;
    height: 70px;
    width: 120px;
    margin: 5px;
}

#btn_home:hover,
#btn_restart:hover {
    background-color: palevioletred;
    cursor: pointer;
}

#score {
    color: aliceblue;
    border: whitesmoke solid 2px;
    border-radius: 5px;
    padding: 5px;
    background-color: darkslategray;
    font-weight: bolder;
    text-align: center;
    font-size: 180%;
    margin-left: 45%;
}