<app-message></app-message>
<span id="score">Score : {{ score }}</span>
<div id="base">
    <div id="upper_btns">
        <div class="simon_btn" id="yellow_btn" (click)="ybtn()"></div><br><br>
        <div class="simon_btn" id="red_btn" (click)="rbtn()"></div>
    </div>
    <div id="lower_btns">
        <div class="simon_btn" id="blue_btn" (click)="bbtn()"></div><br><br>
        <div class="simon_btn" id="green_btn" (click)="gbtn()"></div>
    </div>
</div>

<div id="buttons">
    <button id="btn_home" (click)="backHome()">HOME</button>
    <button id="btn_restart" (click)="restart()">RESTART</button>
</div>

<div *ngIf="gameOver">
    <app-gameover></app-gameover>
</div>